
<h1 class="title">{{product.title}}</h1>
<p>{{product.description}}</p>
<p>Código: {{product.code}}</p>
<p>Precio: ${{product.price}}</p>
<p>Status: {{product.status}}</p>
<p>Stock: {{product.stock}}</p>
<p>Categoría: {{product.category}}</p>
<div>
  {{#each product.thumbnails}}
    <img src={{this.path}} style="width:200px; height:200px; object-fit:cover;">
  {{/each}}
</div>
<div>
  <button type="button" class="btn btn-primary add-to-cart" data-product-id="{{product._id}}">Agregar al Carrito</button>
</div>
<script src="/js/carts.js"></script>